<h2>
  Registro de Alumnos
</h2>
<div class="mat-app-background basic-container">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefono">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="RUT">
    </mat-form-field>
    
    <button mat-button>Inscribirse</button>
  </div>
</div>
