<mat-card >
    
<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh"
class="mat-app-background basic-container">
<h2>Inscripcion</h2>
    <div fxLayout="row wrap" class="container">
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100"
        fxLayout="column" style="padding: 5px;">
        <mat-card class="mat-elevation-z1">
            <mat-form-field>
                <input matInput placeholder="Nombre">
            </mat-form-field>
        </mat-card>
      </div>
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100"
        fxLayout="column" style="padding: 5px;">
        <mat-card class="mat-elevation-z1">
            <mat-form-field>
                <input matInput placeholder="Telefono">
            </mat-form-field>
        </mat-card>
      </div>
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100"
        fxLayout="column" style="padding: 5px;">
        <mat-card class="mat-elevation-z1">
            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>
        </mat-card>
      </div>
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100"
        fxLayout="column" style="padding: 5px;">
        <mat-card class="mat-elevation-z1">
            <mat-form-field>
                <input matInput placeholder="RUT">
            </mat-form-field>
        </mat-card>
      </div>
    </div>
    <button mat-raised-button (click)="guardar()">Inscribirse</button>
  </div>
</mat-card>